Repository DelineaXPM/ansible-core-collection: changes, and which pre-commit hooks are due for each by the changed paths.
All: golines, go-mod-tidy, ansibletest

.pre-commit-config.yaml:

---
# Setup: pre-commit install
# Upgrade: pre-commit autoupdate
# Run: pre-commit run --all-files
# https://pre-commit.com/hooks.html
default_language_version:
  # force all unspecified python hooks to run python3
  python: python3
exclude: (.terraform.lock.hcl)|(.devcontainer/)|(.cache/)|(artifacts/)
repos:
  - repo: https://github.com/jumanjihouse/pre-commit-hook-yamlfmt
    # https://github.com/jumanjihouse/pre-commit-hook-yamlfmt#override-defaults
    # https://yaml.readthedocs.io/en/latest/example.html
    rev: 0.2.2 # or specific tag
    hooks:
      - id: yamlfmt
        args: [--mapping, '2', --sequence, '4', --offset, '2']
  - repo: https://github.com/adrienverge/yamllint.git
    rev: v1.27.1 # or higher tag
    hooks:
      - id: yamllint
        args: [--format, parsable, --strict, --config-file, .yamllint.yaml]
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.3.0 # Use the ref you want to point at
    hooks:
      - id: trailing-whitespace
        args: [--markdown-linebreak-ext=md]
      - id: check-byte-order-marker
      - id: check-case-conflict
      - id: detect-aws-credentials
        args: [--allow-missing-credentials]
      - id: mixed-line-ending
        args: [--fix=lf]
      - id: check-yaml
      - id: check-json
        exclude: ^.vscode/
      # - id: pretty-format-json
      #   exclude: ^.vscode/
      #   args: [--fix]
      # - id: detect-private-key
      - id: end-of-file-fixer
      - id: fix-byte-order-marker
      - id: check-added-large-files
      - id: check-merge-conflict
      - id: forbid-new-submodules
      - id: name-tests-test
      - id: no-commit-to-branch
        args: [--branch, master, --branch, main]
      - id: requirements-txt-fixer
  - repo: https://github.com/pre-commit/pygrep-hooks
    rev: v1.9.0 # Use the ref you want to point at
    hooks:
      - id: python-use-type-annotations
      - id: rst-backticks
      - id: rst-directive-colons
      - id: rst-inline-touching-normal
      - id: text-unicode-replacement-char
      - id: python-no-eval
  - repo: https://github.com/psf/black
    rev: 22.6.0
    hooks:
      - id: black
  - repo: https://gitlab.com/pycqa/flake8
    rev: 3.7.9
    hooks:
      - id: flake8
  - repo: https://gitlab.com/bmares/check-json5
    rev: v1.0.0
    hooks:
      - id: check-json5
  - repo: local
    hooks:
      - id: golines
        name: go-fmt
        description: Run formatter against changed files
        entry: golines --base-formatter="gofumpt" -w --max-len=120 --no-reformat-tags
        types: [go]
        language: system
        pass_filenames: true
      - id: go-mod-tidy
        name: go-mod-tidy
        description: Run go mod tidy
        entry: go mod tidy
        stages: [commit]
        types: [go]
        language: golang
        pass_filenames: false
        verbose: true
  - repo: local
    hooks:
      - id: ansibletest
        name: ansible-test-sanity
        description: Run sanity tests with venv and doker
        entry: mage venv:testsanity
        types: [python]
        language: system
        pass_filenames: false

refactor(wip): wordy-pupil
  README.md
Due: none

refactor(wip): jolly-riser
  README.md
Due: none

Update magefile.go
  magefile.go
Due: golines, go-mod-tidy

refactor(wip): fatal-wreck
  .golangci.yml
  .pre-commit-config.yaml
  magefile.go
Due: golines, go-mod-tidy

refactor(wip): tepid-spook
  magefile.go
Due: golines, go-mod-tidy

feat: initial release and improve local testing (#10)
  .golangci.yml
  .pre-commit-config.yaml
  README.md
  go.mod
  go.sum
  magefile.go
  renovate.json
Due: golines, go-mod-tidy

ci(mend): disable issues for mend but still allow pull and renovate execution
  .whitesource
Due: none

fix(mend): 🐛 remove trailing space in json
  .whitesource
Due: none

fix(galaxy.yml): ignore more files when building collection
  galaxy.yml
Due: none

fix(galaxy.yml): ignore more files during collection build (#17)
  galaxy.yml
Due: none

docs(readme): apply better name per feedbackonHart
  README.md
Due: none

docs(readme): apply better name per feedback from Ansible Partner Engineering (#19)
  README.md
Due: none

ci(ansible): add changelog generation task and initial rst using antsibull
  .github/workflows/release.yaml
  .gitignore
  CHANGELOG.rst
  README.md
  changelogs/changelog.yaml
  changelogs/config.yaml
  changelogs/fragments/1.0.0.yml
  magefile.go
Due: golines, go-mod-tidy

fix yamllint failures
  .editorconfig
  .pre-commit-config.yaml
Due: none

refactor(wip): slack-stick
  .pre-commit-config.yaml
  .yamllint.yaml
  changelogs/config.yaml
Due: none

fix chmod on yaml
  magefile.go
Due: golines, go-mod-tidy

refactor(wip): flush-stays
  changelogs/fragments/1.0.0.yml
Due: none

ci(ansible): add changelog generation task and initial rst using antsibull (#21)
  .editorconfig
  .github/workflows/release.yaml
  .gitignore
  .pre-commit-config.yaml
  .yamllint.yaml
  CHANGELOG.rst
  README.md
  changelogs/changelog.yaml
  changelogs/config.yaml
  changelogs/fragments/1.0.0.yml
  magefile.go
Due: golines, go-mod-tidy

Removing former employees contact info
  plugins/lookup/dsv.py
Due: ansibletest

Removing former employees contact info (#23)
  plugins/lookup/dsv.py
Due: ansibletest

chore: sync latest github workflows, settings, scans, and dev tooling
  .pre-commit-config.yaml
  .vscode/settings.json
Due: none

chore: sync latest github workflows, settings, scans, and dev tooling (#24)
  .pre-commit-config.yaml
  .vscode/settings.json
Due: none

fix(deps): run go mod tidy
  go.mod
  go.sum
Due: none

fix(deps): run go mod tidy (#33)
  go.mod
  go.sum
Due: none

chore: align project tooling
  .changie.yaml
  .devcontainer/Dockerfile
  .devcontainer/devcontainer.json
  .devcontainer/files/.zshrc
  .devcontainer/files/first-run-notice.txt
  .devcontainer/init
  .devcontainer/init.bat
  .golangci.yml
  .markdownlint-cli2.yaml
  .markdownlint.yaml
  .trunk/.gitignore
  .trunk/actions
  .trunk/config/.hadolint.yaml
  .trunk/config/.isort.cfg
  .trunk/config/.shellcheckrc
  .trunk/logs
  .trunk/notifications
  .trunk/out
  .trunk/plugins/trunk
  .trunk/trunk.yaml
  .vscode/settings.json
  .yamllint.yaml
  aqua.yaml
Due: none

add python to devcontainer
  .devcontainer/devcontainer.json
Due: none

ignore files not related to ansible
  test/sanity/ignore.tx
Due: none

refactor(wip): swift-swish
  .github/workflows/lint.yaml
  .github/workflows/test-unit.yaml
  codecov.yml
Due: none

refactor(wip): sweet-cabin
  test/sanity/ignore.txt
Due: none

ignore files not related to ansible
  tests/sanity/ignore.txt
Due: none

only test against plugins
  .github/workflows/test-sanity.yaml
  .github/workflows/test-unit.yaml
Due: none

only test against plugins
  .github/workflows/test-sanity.yaml
  .github/workflows/test-unit.yaml
  .gitignore
  magefile.go
  test/sanity/ignore.txt
Due: golines, go-mod-tidy

ignore files not related to ansible
  .github/workflows/test-sanity.yaml
Due: none

add missing permission for running linting
  .github/workflows/lint.yaml
Due: none
